---
- name: Import InfluxDB GPG signing key
  apt_key: url=https://repos.influxdata.com/influxdb.key state=present

- name: Add InfluxDB repository
  apt_repository: repo='deb https://repos.influxdata.com/ubuntu trusty stable' state=present

- name: Install InfluxDB packages
  apt: name=influxdb state=present

- name: Modify InfluxDB hostname
  replace:
    dest=/etc/influxdb/influxdb.conf
    regexp='# auth-enabled = false'
    replace='auth-enabled = true'
    backup=yes

- name: Start the InfluxDB service
  service: name=influxdb state=restarted

- name: Create admin user
  command: /usr/bin/influx -execute "CREATE USER admin WITH PASSWORD '{{ INFLUXDB_ROOT_PASSWORD }}' WITH ALL PRIVILEGES"

- name: Create grafana user
  command: /usr/bin/influx -execute "CREATE USER grafana WITH PASSWORD '{{ INFLUXDB_GRAFANA_PASSWORD }}'"

- name: Create python user
  command: /usr/bin/influx -execute "CREATE USER write_data WITH PASSWORD '{{ INFLUXDB_WRITE_DATA_PASSWORD }}'"

- name: Create sample database
  command: /usr/bin/influx -execute 'CREATE DATABASE sample_database'

- name: Load some test data into sample database
  uri:
    url: http://localhost:8086/write?db=sample_database
    method: POST
    body: "random_ints,host=server_{{ 10 | random }} value={{ 100 | random }}"
    status_code: 204
  with_sequence: start=1 end=10