---
- name: main task
  hosts: all
  vars_files:
    - vars/external_vars.yml

  roles:
    - ufw
    - influxdb
    - grafana
    - grafana-datasource
    - mod_analytics-checkout
    # - nginx
    # - python-server-metrics
