name: run ansible
on:
# run on every push into ./ansible
  push:
    paths:
      - 'ansible/**'
      - '.github/workflows/ansible.yml'
# run if manually triggered
  workflow_dispatch:

jobs:
  # validate:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: Run ansible-lint
  #       uses: ansible-community/ansible-lint-action@v6.0.2
  #       with:
  #         args: "ansible"
  run-playbook:
    runs-on: ubuntu-latest
    # needs: validate
    steps:
      - name: Run playbook
        uses: dawidd6/action-ansible-playbook@v2
        with:
          playbook: site.yaml
          directory: ./ansible
          key: ${{secrets.SSH_KEY}}
          options: |
            --inventory inventory
            -u root
            --extra-vars hello=there
            --verbose