name: run ansible
on:
# run with every push
  push:
# run if manually triggered
  workflow_dispatch:
# deploy on a recurring schedule to avoid OOM problems
#  schedule:
#    - cron: '15 */6 * * *'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Run ansible-lint
        # replace `main` with any valid ref, or tags like `v6`
        uses: ansible-community/ansible-lint-action@v6.0.2
        with:
          args: "ansible" # my ansible files in a folder
