name: run ansible
on:
# run on every push into ./ansible
  push:
    paths:
      - 'ansible/**'
      - '.github/workflows/ansible.yml'
# run if manually triggered
  workflow_dispatch:

jobs:
  run-playbook:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run playbook
        uses: dawidd6/action-ansible-playbook@v2
        with:
          playbook: site.yml
          directory: ./ansible
          key: ${{secrets.SSH_KEY}}
          options: |
            --inventory inventory
            -u root
            --extra-vars hello=there
            --verbose